<!DOCTYPE html>
<html>
<head>
    <title>Manic Crusader API</title>
    <style>
        body {
            background-color: #333333;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        h4 {
            font-weight: 300;
            font-size: 36px;
            font-family: Impact, Charcoal, sans-serif;
            text-align: center;
            color: #ffffff;
            text-shadow: 2px 2px #000000;
            margin: 0;
        }
    </style>
</head>
<body>
    <h4>Manic Crusader API</h4>
</body>
</html>
